<app-header

link="/mk/home"

></app-header>

<app-nav-bar
page1="ДОМА"
page2="ВЕСТИ И НАСТАНИ"
page3="ЗА ГИМНАЗИЈАТА"
page4="НАСОКИ"
page5="УПИСИ"
page6="ПРОЕКТИ"
page7="КОНТАКТ"


link1="/mk/home"
link2="/mk/novosti"
link3="/mk/about"
link4="/mk/nasoki/izberi_nasoka"
link5="/mk/upisi"
link6="/mk/proekti"
link7="/mk/contackt"



></app-nav-bar>

<router-outlet></router-outlet>


<app-footer
    contact="Контактирајте не:"
    category="Категории"
    map="Отвори на мапа"
    location="ЃОРЧЕ ПЕТРОВ ц.о. Крива Паланка, Средно општинско училиште"
    loc="ул.8-ми Октомври бр. 91 1330 Крива Паланка Република Северна Македонија"

    link1="Почетна"
    link2="За Гимназијата"
    link3="Новости"
    link4="Проекти"
    link5="Насоки"
    link5="Уписи"

    link1="Почетна"
    link2="За Гимназијата"
    link3="Новости"
    link4="Проекти"
    link5="Насоки"
    link5="Уписи"

    route1="/mk/home"
    route2="/mk/novosti"
    route3="/mk/about"
    route4="/mk/nasoki/izberi_nasoka"
    route5="/mk/upisi"
    route6="/mk/proekti"
    route7="/mk/contackt"




></app-footer>


