<app-text

title="MAШИНСКА СТРУКА"

></app-text>


<ul>


  <li>
    <a class="text-success" href="/mk/nasoki/masinska_struka/#mt">MAШИНСКИ ТЕХНИЧАР</a>
  </li>

  <li>
    <a class="text-success" href="/mk/nasoki/masinska_struka/#am">АВТОМЕХАНИЧАР</a>
  </li>


</ul>

<br>
<br>

<hr color="gray">
<br>
<br>

<app-text
id="mt"
  title="МАШИНСКИ ТЕХНИЧАР"
  text="По завршувањето на четиригодишно обрзование како Машински техничар вие се оспособувате за следните работни задачи:"
></app-text>

<ul>

  <li>
    Операторот изработува технолошка документација за монтажа и одржување на машините и уреди, врши прием и ја проучува проектната и конструктивната документација за производство и експлоатацијата на поедини машини и постројки од текстилна, прехрамбена, тутунска, хемиска, металуршка, градежна, рударска и земјоделска индустрија,

  <li>
    ја разработува технолошката документација за нивна монтажа или за одржување на нивната работа,врши следење на монтажата и поправките спрема пропишаната технологија и ги врши потребните ускладувања на технолошката документација, учествува во решавањето на рекламациите и воведување на новите постапки, иницира мерки за измените во конструктивната и работната документација со цел постигнување на поголема функционалност и безбедност на производот,изработува норматив за времето на монтажата,складира и чува технолошка документација и ја одржува исправноста на приборот за работа,
  </li>

  <li>
    изработува оперативни планови за потребните средства и времето за монтажа на новите постројки,лансирање на технолошката и работната документација и следење на извршување на оперативните планови за монтажа и изработување на извештај, планирање и терминирање на тековното одржување и ремонтот на машините и уредите според времето и потребните средства за одржување и ускладување на плановите за одржување на машините и уредите со плановите на произвоството и можностите за снабдување на материјалите,деловите на алатите и другите средства потребни за одржување на машините и уредите.
  </li>



</ul>

<br>
<br>
<hr color="gray">

<app-text
id="am"
title="AВТОМЕХАНИЧАР"

></app-text>

<ul>

  <li>
    Автомеханичарите подесуваат, монтираат, сервисираат и поправаат мотори и друга механичка опрема на патнички автомобили или други моторни лесни возила.

  <li>
    Автомеханичарите вршат испитување, ремонтирање  или заменување на старите мотори со нови, испитување, подесување, сервисирање, тестирање и поправка на системот за кочење на моторни возила.
  </li>

  <li>
    Задачите на автомеханичарите на лесни возила исто така вклучуваат испитување, подесување, сервисирање, тестирање и поправка на системот за управување и системите за довод на горива, како и замена на дотраени делови со нови резервни делови.
  </li>



</ul>

<br>
<br>
