<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>footer</title>
	<link rel="stylesheet" href="footer.component.scss">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<footer>
		<div class="footer-content">
			<h3>СОУ Ѓорче Петров</h3>
			<p>ЕМАИЛ | sougorcepetrov@yahoo.com</p>
			<p>TЕЛ 031/375-025 | 031/377-120</p>
			<p>ул.8-ми Октомври бр. 91, 1330 Крива Паланка</p>
			<p>Република Северна Македонија</p>
		</div>
		<div class="footer-content">
			<div class="social">
				<ul class="socials">
					<li><a href="https://mk-mk.facebook.com/gjorcepetrov/"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCNyG7h4rhnOjmQYAN_E1vmQ"><i
								class="fa fa-youtube"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			<p>&copy;2022 СОУ Ѓорче Петров. Сите права се задржани.</p>
		</div>
	</footer>
</body>

</html>
