<div class="container">
  <header>

    <mat-form-field  color="primary"   appearance="outline">
      <mat-label> Choose  </mat-label>
      <mat-select  >
        <a routerLink="/mk/upisi/upis_opsta_gimnazija"><mat-option > gimnazisko obrazovanie </mat-option></a>
        <a routerLink="/mk/upisi/upis_elktrotexnicka_struka"><mat-option > elektrotexnicka struka </mat-option></a>
        <a routerLink="/mk/upisi/upis_masinska_struka"><mat-option > masinska struka </mat-option></a>
        <a routerLink="/mk/upisi/upis_ugostitelska_Struka"><mat-option > ugostitelska struka </mat-option></a>
        <a routerLink="/mk/upisi/upis_za_vonredni_ucenici"><mat-option > vonredni ucenici </mat-option></a>







      </mat-select>


    </mat-form-field>

  </header>


  <router-outlet>


  </router-outlet>
