<div class="container">


  <app-text
  title="Гимназиско образование"
  text="60 поени минимум"
  ></app-text>

  <hr color="gray">

  <h1>Електротехничка струка</h1>

  <app-text
  title="Електротехничар за компјутерска техника и автоматика"
  text="55 поени минимум"
  ></app-text>

  <hr color="gray">


  <h1>Maшинска струка</h1>

<app-text
title="Машински техиничар и Автомеханичар"
text="45 поени минимум"
></app-text>
<hr color="gray">


<h1>Угостителско - туристичка струка</h1>

<app-text
title="келнер/слаткар/готвач "
text="30 поени минимум"
></app-text>

<hr color="gray">


<h1>Здраствена струка</h1>

<app-text
title="медицинска сестра"
text="70 поени минимум"
></app-text>

<hr color="gray">


<h1>Градежно-геодетска струка</h1>

<app-text
title="Градежен техничар"
text="45 поени минимум"
></app-text>

</div>




