$bg:rgb(34, 34, 34);
$btn: 1px solid rgb(0, 221, 255);

@mixin display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


header{
  @include display;
  background-color: $bg;
  width: 100%;
}

.header-right{
  @include display;

}

a{
  margin-left:80px;

}

.sign{
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #90CAF9;
  color: #90CAF9;
  background-color: $bg;
  cursor: pointer;
}

.sign:hover{
  background-color: #90CAF9;
  color: white;
}
