$bg:rgb(34, 34, 34);
$btn: 1px solid rgb(0, 221, 255);

@mixin display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


header{
  @include display;
  background-color: $bg;
  width: 100%;
}

.header-right{
  @include display;

}

a{
  margin-left:80px;

}
