
<div class="nav_container">


  <div class="moto_container">

  <h1>НАШЕТО МОТО</h1>

    <p class="moto">
      ЕДУКАЦИЈАТА НЕ Е ПОДГОТОВКА ЗА ЖИВОТ <br> <br> <br>  ЕДУКАЦИЈАТА Е САМИОТ ЖИВОТ.
    </p>

    <p class="sub_moto">
      Наша мисија е да ја препознаеме индивидуалноста која мора да биде <br>
       во корелација со тимската работа која поттикнува креативност и создава квалитет.
    </p>

  </div>


  <div class="right">

   <a routerLink="">
     <div class="nav">


      <button mat-fab color="primary"><mat-icon>info</mat-icon></button>
      <p> <br> За Гимназијата</p>





     </div>
   </a>



   <a routerLink="">
     <div class="nav">

        <button mat-fab color="primary"><mat-icon>feedback</mat-icon></button>
         <p> <br> Контактирај не</p>

     </div>
   </a>



  </div>

</div>
