


.nav_container{


  color: rgb(255, 255, 255);
  position: relative;
  top: 680px;
  width:100%;
  height: 650px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: flex;


}

h1{
  padding: 50px;
  margin-left: -40px;
  font-size: 4rem;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 255, 51, 0.416);
  text-align: center;


}

.moto_container{
  padding: 20px;
  position: absolute;
  top: 85px;
  background-color: #34ff420e;
  height: 70%;
  align-items: center;

  .moto{
      font-size: 2.3rem;
      padding: 50px;
      margin-left: -40px;
      background-color: #64ff64b0;


  }

  .sub_moto{
    padding: 10px;
    color: rgb(233, 233, 233);

  }
}


.right{

  padding: 100px;
  margin-left: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a{
    margin-left: 180px;


    p{
      color: white;
      text-align: center;
      margin-left: -20px;
    }




  }
}

.button{
  background-color: #64ff64b0;
  outline: none;


}

mat-icon{
  color: rgb(255, 255, 255);
}

p{
  color: rgb(255, 255, 255);
  text-align: center;
}
