
<div class="nav_container">

<div class="title">
  <h1>КОИ ОБРАЗОВНИ НАСОКИ ГИ ИМАМЕ?</h1>
  <p>Во <i>СОУ</i> Ѓорче Петров можете да ги изучувате едни од најбараните насоки на пазарот на труд во државата, но и во светот.</p>

</div>


<table>
  <tr>
    <th>Гимназиско образование</th>

    <a routerLink="">
    <td> <img src="./assets/images/math.png" alt="прочитај повеќе">  <br>
    Природно-математичко подрачје
  </td>
</a>


<a routerLink=""> <td> <img src="./assets/images/lang.png" alt="прочитај повеќе">  <br>

      Јазично-уметничко подрачје</td></a>

<a routerLink="">
    <td>
     <img src="./assets/images/book.png" alt="прочитај повеќе">  <br>

      Општествено-хуманистичко подрачје</td>
    </a>
  </tr>

  <tr>
    <th>Стручно образование (четиригодишно траење)</th>

<a routerLink="">
    <td>
      <img src="./assets/images/comp.png" alt="прочитај повеќе">  <br>
      Електротехничка струка - Електротехничар за компјутерска техника и автоматика

    </td>
  </a>

<a routerLink="">
    <td>
      <img src="./assets/images/mach.png" alt="прочитај повеќе">  <br>

      Машинска струка
Машински техничар
</td>
</a>


<a routerLink="">
<td>
  <img src="./assets/images/ug.png" alt="прочитај повеќе">  <br>
  Угостителско - туристичка струка
  Хотелско - туристички техничар
</td>
</a>

  </tr>


  <tr>

    <th>Стручно  образование (тригодишно траење)</th>

<a routerLink="">
    <td>
  <img src="./assets/images/car.png" alt="прочитај повеќе"> <br>
      Машинска струка
      Автомеханичар
    </td>
  </a>

  <a routerLink="">
    <td>
  <img src="./assets/images/ug.png" alt="прочитај повеќе">  <br>
      Угостителско - туристичка струка
      Готвач / Келнер
    </td>
  </a>
  </tr>
</table>
</div>
