
<div class="nav_container">


  <div class="moto_container">

  <h1>{{title}}</h1>

    <p class="moto">
      {{moto1}} <br> <br> <br>  {{moto2}}
    </p>

    <p class="sub_moto">
      {{sub_moto1}} <br>
       {{sub_moto2}}
    </p>

  </div>


  <div class="right">

   <a [routerLink]="about">
     <div class="nav">


      <button mat-fab color="primary"><mat-icon>info</mat-icon></button>
      <p> <br>{{about_text}}</p>





     </div>
   </a>



   <a [routerLink]="contact">
     <div class="nav">

        <button mat-fab color="primary"><mat-icon>feedback</mat-icon></button>
         <p> <br>{{contact_text}}</p>

     </div>
   </a>



  </div>

</div>
