
<div>

  <p>ZA Gimnazijata</p>

<hr color="white">

<br>
<br>

<app-text

title="МИСИЈА НА УЧИЛИШТЕТО
"

text="Ние сме училиште со традиција, отворено за нови идеи кои поттикнуваат индивидуалност и креативност, дисциплина и култура, повисоки интелектуални способности и образование кое ќе одговори на животните предизвици. Корените на образованието се горки, но плодовите се слатки. затоа секојдневно инвестираме во градење на нашата иднина. Човековото воспитание е огледало во кое се прикажува личниот портрет.

Наша мисија е да ја препознаеме индивидуалноста која мора да биде во корелација со тимската работа која поттикнува креативност и создава квалитет."



></app-text>
<br>
<br>


<hr color="white">
<br>
<br>


<app-text

title="ВИЗИЈА НА УЧИЛИШТЕТО"

text="Развиј ја страста за учење.Доколку успееш во тоа, никогаш нема да престанеш да растеш!

Средното општинско училиште  Ѓорче Петров преставува силен импулс во развојот на образовната дејност, а со тоа и практично се потврдува определбата за интелктуалното инвестирање во образованието и за создавање на високо професионален кадар кој е императив и основен предуслов за развој и напредок на секое општество. Образованието е златен клуч на слободата.

Наша цел е да помогнеме во градење на образована личност која научила како да учи и како да се менува. Затоа што животот мора да биде постојано воспитување.

Да ги искористиме зборовите на Еразмо Ротердамски: “Најголемата надеж на секоја земја лежи во примерно школување на младите”.

Инвестирањето во знаење исплаќа најдобра и најголема камата.

Затоа ние како институција ќе продолжиме да работиме во полза на идните генерации, а вреемто е онаа мудра категорија која ги потврдува вистинските творци.

Животот мора да биде постојано воспитување!

Мото на училиштето:

Да бидеме цртачи на денот за да бидеме дизајнери на животот."


></app-text>

<br>
<br>


<hr color="white">

<br>
<br>


</div>
