
<div>

  <p>ЗА ГИМНАЗИЈАТА</p>

<hr color="white">

<br>
<br>

<app-text

title="МИСИЈА НА УЧИЛИШТЕТО
"

text="Ние сме училиште со традиција, отворено за нови идеи кои поттикнуваат индивидуалност и креативност, дисциплина и култура, повисоки интелектуални способности и образование кое ќе одговори на животните предизвици. Корените на образованието се горки, но плодовите се слатки. затоа секојдневно инвестираме во градење на нашата иднина. Човековото воспитание е огледало во кое се прикажува личниот портрет.

Наша мисија е да ја препознаеме индивидуалноста која мора да биде во корелација со тимската работа која поттикнува креативност и создава квалитет."



></app-text>

<br>
<br>


<hr color="white">
<br>
<br>


<app-text

title="ВИЗИЈА НА УЧИЛИШТЕТО"

text="Развиј ја страста за учење.Доколку успееш во тоа, никогаш нема да престанеш да растеш!

Средното општинско училиште  Ѓорче Петров преставува силен импулс во развојот на образовната дејност, а со тоа и практично се потврдува определбата за интелктуалното инвестирање во образованието и за создавање на високо професионален кадар кој е императив и основен предуслов за развој и напредок на секое општество. Образованието е златен клуч на слободата.

Наша цел е да помогнеме во градење на образована личност која научила како да учи и како да се менува. Затоа што животот мора да биде постојано воспитување.

Да ги искористиме зборовите на Еразмо Ротердамски: “Најголемата надеж на секоја земја лежи во примерно школување на младите”.

Инвестирањето во знаење исплаќа најдобра и најголема камата.

Затоа ние како институција ќе продолжиме да работиме во полза на идните генерации, а вреемто е онаа мудра категорија која ги потврдува вистинските творци.

Животот мора да биде постојано воспитување!

Мото на училиштето:

Да бидеме цртачи на денот за да бидеме дизајнери на животот."


></app-text>

<br>
<br>


<hr color="white">

<br>
<br>






<app-text

title="ПОЧЕТАК И РАЗВОЈ НА УЧИЛИШТЕТО"

text="Средното општинско училиште Ѓорче Петров од Крива Паланка  започнува соработа под името гимназија Моша Пијаде на петти  септември 1960 година, со одлукана Народниот одбор на Крива Паланка, а за  прв директор  е назначен професорот поматематика Стојан Тодоровски. На почетокот училиштето работи во зградата на ЦОУЈоаким Крчовски со само три паралелки, со вкупно 97 ученици, за од учебната 1964/1965 година да се најде на сегашната локација, ул.  “8ми Октомври“  бр.91.

Топло сеќавање во јубилејната година и кон ликот и делото на првиот Патрон  на училиштето:

Моша Пијаде-Чичко Јанко(1890-1957г.), политички работник и државник,сликар и новинар кој се формирал низ историјата на СФРЈ, а чијшто животен пат завршува со плодна активност од половина век. Прогласен е за народен херој и бил ччлен на САНУ. Преведувач на Марксовиот капитал, Комунистичкиот манифест, Беда на филозофијата за време на робувањето во Лепоглава. Учесник е во НОБ, а по завршувањето на војната претседател е на Уставотворниот одбор и на Законодавниот одбор, давајќи придонес во подготвувањето на текстот на Уставот,Уставниот закон, Кривичниот закон и Законот за избор на народни пратеници. Како државник и политичар учествувал во повеќе Мировни конференции.

Со текот на времето училиштето го менува своето име, па така на 08.06.1987 гимназијата Моша Пијаде се преименува во УСО “Моша Пијаде“, на 13.09.1993 во УСО “Ѓорче Петров“, а  на 10.04.2006 година го  доби  денешното име  СОУ “Ѓорче Петров“.

Следуваат години на растење, зреење, творење и успеси во сите сфери на воспитно&образовниот процес. Од приложениот хронолошки преглед може да се види  кои сè  струки и профили биле застапени и кои  наставни планови и програми се реализирани во текот на изминатите 50 години.  Во периодот од 1960 година  до 1982 година училиштето работи како гимназија;

Во учебната 1973 година се воведува текстилна струка со повеќе профили (од 2000 година е во мирување)
Во 1974 година – започнува со работа   машинска струка бравар;
1980/81 година – се воведува насочено образование;
1983/84 година – се воведува градежна струка, опстојува три генерации и сега е во мирување;
1989/90 година – повторно се воведува гимназиско образование; Откривање на бистата на Ѓорче Петров,
мај 2000 – Резба со ликот на Ѓорче Петров изработенa од ученик на осоговски даб
1989/90 година.  – машинската струка се проширува со четврт степен, машински техничар;
2001/02 година   –  се воведува нов концепт на реформирано гимназиско образование;
2004/05 година  – се воведува профил машинист за ладилни и компресорски постројки;
2005/06 година   – машинските техничари работат по ФАРЕ програма;
2006 година – училиштето го промени  Статутот во Средно општинско училиште.
2006/07 година  – се воведува сообраќајна струка техничар за транспорт и шпедиција;
2010/2011 година – се донесе решение за  воведување две нови струки: електротехничка струка-електротехничар за компјутерска техника и автоматика и угостителско-туристичка струка – келнер/готвач.
  Училиштето во 1960 год започна со  97 ученици,   бројот постојано расте и  во 1995 достигна год. 1235 ученици. Денес, во учебната  2009/2010  имаме  запишано 994  ученици распоредени во 39 паралелки, што значи дека последните години бројот на учениците постепено се намалува.

 Во текот на 50 годишното работење на училиштето, со дипломи за завршено средно образование се стекнале 9942 ученици, од кои 6889 ученици од гимназиското образование и тоа: 6389 ученици од   општо и општествено –хуманистичко подрачје, 446 ученици од  природно&математичкото подрачје, 53 ученици од јазично&уметничкото подрачје и 3055 ученици од стручното образование  и тоа: B машинска струка  1694 ученици, од кои бравар 879 ученици и машински техничар 815 ученици;  текстилна струка ((конфекционер, облагородувач, ткајач, предач и конфекциски моделар   1003 ученици;  градежна струка  (градежен техничар ) 266 ученици;  информатичка струка  (информатички техничар) 27 ученици и  сообраќајна струка (техничар за транспорт и шпедиција) – 65 ученици.

  Значаен број  од овие ученици   завршиле високо образование, станале магистри, доктори на науки  и угледни граѓани. Некои од нашите ученици своите знаења продолжија да ги збогатуваат во Портланд, Луизијана, Кејпт Таун, Чешка, Будимпешта, Александрија, Велика Британија, Љубљана, Франција, Италија, Холандија, Полска и други места.

  Средното општинско училиште Ѓорче Петров од Крива Паланка  започнува соработа под името гимназија Моша Пијаде на петти  септември 1960 година, со одлукана Народниот одбор на Крива Паланка, а за  прв директор  е назначен професорот поматематика Стојан Тодоровски. На почетокот училиштето работи во зградата на ЦОУЈоаким Крчовски со само три паралелки, со вкупно 97 ученици, за од учебната 1964/1965 година да се најде на сегашната локација, ул.  “8ми Октомври“  бр.91.."


></app-text>

<br>
<br>


<hr color="white">


<br>
<br>

<app-text

title="ДИРЕКТОРИ"

text="Стојан Тодоровски (1960-1988)  "









></app-text >

<app-text
text="Александар Јакимовски (1988-1996)  "
></app-text>

<app-text
text="Марика Митевска (1996-1999) "

></app-text>

<app-text
text="Димитар Шуковски (1999-2002)"


></app-text>

<app-text
text="Благородна Цветковска (2003-2006)"



></app-text>

<app-text
text="Гордан Стојановски (2006-2009)"




></app-text>

<app-text
text="Миле Милковски (2009-2017)"



></app-text>
<app-text
text="Габриела Стаменковска (2017-актуелен директор)"



></app-text>

<br>
<br>


<hr color="white">
<br>
<br>



<app-text

title="ЗА ЃОРЧЕ ПЕТРОВ"

text="За  Патрон  на  училиштето  го  имаме  Ѓорче  Петров,  еден  од  многуте македонски достоинственици. За Патрон го имаме името на човекот кој имаше верба во иднината  на Македонија  како  Гоце,  како Даме,  неговите  современици.  Роден  е  на 2 април 1864 година во Варош,Прилепско.  Учел во Прилеп и Солун и бил наставник во повеќе  градови во Македонија. Од 1895  година  станал член на ЦК на ВМРО. Додека работел како професор на битолската и солунската гимназија го издавал весникот “На оружје”.

Заедно  со  Делчев  водел  бескомпромисна  борба  за  зачувување  на самостојниот карактер на македонското национално револуционерно движење од сите надворешни  напади,  особено  од  Бугарите.  Бил  затваран  од  бугарските  власти  и интерниран  во  Трново  и  Казанлак.  Заедно  со  Делчев  ги  изработиле  Уставот  и Правилникот  на  Организацијата.  Со  група  македонски  револуционери  бил  за неодобрување и неприфаќање на решението на Централниот комитет во Солун од 1903 година за кревање на востанието во Македонија. Длабоко верувал дека ќе пропадне востанието поради недоволна вооружена подготвеност  и  непогодно  избран  момент,  но  зел  учество  во  Илинденското  востание.

По  неуспехот  на  востанието  бил длабоко  разочаран и  заминал  за Софија. По Првата Светска  војна  особено  се  борел против поделбата,  распарчувањето на Македонија  секогаш  истакнувајќи  дека  е  за  самостојна  и  независна Македонија.  На 28  јуни 1921  во  Софија  е  убиен  од врховистички агенти.  Професор Гане Тодоровски за Ѓорче Петров запишал: ” Ѓорче Петров падна како жртва на разулавени убијци затоа што претставуваше личност со неполулан авторитет. “

По  зрелоста  на  своите  погледи  за  целта  и  методите  на  борбата,  по  упорноста  и  способноста  со  збор  и  дело  да  се  брани независноста  на  македонското,  национално –  револуционерно  движење  спаѓа  во  редот  на  најголемите  фигури  на македонското ослободително движење во чиишто редови бил цели 25 години.   Имал  водечка  улога  во  интелектуално –  идејното  осмислување  на  македонското  револуционерно  движење  и визионерски формат. И затоа не случајно ќе биде избран  за прва жртва на црниот список на политичките убиства во Бугарија меѓу 1921 И 1934 година.
Триесетгодишниот Ѓорче Петров верува во сопствените сили на својот народ и резонира со разум на револуционерен водач дека победата се открива низ решението да се живее слободно, дека за да се постигне тоа треба да се  води  борба на живот и  смрт. Ѓорче настапува  од позиции на  теоретичар на македонската  револуција на  страниците  од списанието “Лоза”. Мотото  на  ова  списание  била  Софоклевата  мисла: “Ништожник  е  оној  кој  има  подобар  пријател  од татковината. ”   Ако  Делчев  е  наречен  душата  на  Внатрешната  организација,  Ѓорче  Петров  е  општопризнатиот  дипломат  на организацијата.  Од  овие  македонски  првоапостоли  и  Јане  Сандански  го  добива  своето  идеолошко  просветлување.  Сите тројца се бореа заедно против непријателите и тројцата умреа од непријателските куршуми.

Од  стојалиште  на  внимателни  читатели  на  историјата  читаме  запишано  за  Ѓорче:  Беше  кореспондент  со генерациите кои на сцената ќе стапат со години и со децении, а тоа значи не само во своето време, туку беше и пред своето време. Ги надвишуваше во многу нешта  своите  современици и  своето време. Културен деец на  еден народ и  земја на кои константно им вртеле и на кои уште им вртат грб не само моќните, туку и самата историја.

Преку своето дело најсветло и најсвето ја инаугурира зареченоста на макдонскиот народ дека само преку борба може да се дојде до слобода и дека слободна ја сакаат татковината.   Неговиот трагичен крај е сведочење за сите наши трагични пресметки, за сиот оној крвав балкански бал под маски во нашата историја што не престанува да се игра се до наши дни.
Овој  момент  на  одбележување  педесетгодишен  јубилеј  нека  биде  само  еден  дорек  на  родољубието  и загледувањето  во  делото  на  достоинственикот,  Патронот  на  нашата  гимназија  Ѓорче  Петров.  Ѓорче  Петров  е  име  чие воинствено  слово  треба  да  се  варди  заради  националното  траење,  бидејќи  се  работи  за  деец  чиј  глас  е  предупредување разлеано  по  сите  бразди  и  меѓи  на  оваа  земја  за  да  ја  довардиме  Македонија  и  да  остане  во  наследство  на  цврстото македонско  племе,  пиреј  според  Петре  М. .Андреевски.

Исправени  сме  пред  обврската  да  ја  проследиме  историската вертикала на Ѓорче Петров согледувајќи ја трагиката на великанот, а притоа сопствената возбуда нека биде потврда дека ги крепиме  изданките  на  поколенијата.  Разбирливо,   дека  оваа  сензибилност  и  почит  на  поднебјето  на  Македонија  им  ја должиме на сите оние кои не научија како да ја сакаме родената земја Македонија, а меѓу нив е името на Ѓорче Петров.   На големите дејци, од типот на Ѓорче Петров, не им се потребни посредувачи и долги коментари затоа што делата се нивната единствена легитимација.   И се подари и посвети на Македонија.


"



></app-text>

<br>
<br>


<hr color="white">
<br>
<br>

</div>
