<app-text

title="Електротехничар за компјутерска техника и автоматика со 4-годишно траење"
text="Успешно завршените програми од овој стручен профил  овозможуваат успешно вклопување на пазарот на трудот, оспособувајќи го кандидатот да може да:"

></app-text>


<ul>

  <li>
    Монтира, инсталира, одржува, сервисира електонски уреди кои го сочинуваат компјутерот како целина, вклучително и периферните уреди кои се составен дел од компјутерскиот сист
  </li>

  <li>
    Креира извештаи за извршени работни задачи и собира неопходни влезни и излезни податоци за изготвување и надградба на техничка документација.
  </li>

  <li>
    Обезбедува алат, опрема и потребни ресурси за работа, работи согласно техничка документација, врши подесувањеи и ја следи правилната работа на опремата, проверува функционалност на компјутерската опрема, анализира видови дефекти, отклонува дефекти, води евиденција и следи податоци за состојбата на компјутерската опрема, планира термини за контрола и сервисирање на компјутерската опрема, планира и порачува резервни делови, прави редовна проверка на системот за непрекинато напојување и следи развој на информатички технологии.
  </li>

  <li>
    Инсталира и одржува автоматски и контролни уреди и системи. Обезбедува алат, опрема и останати потребни ресурси за работа. Користи мерни инструменти и алатки (хардверски и софтверски) за утврдување на исправноста на опремата за автоматизација, сигнализација, заштита и контрола.
  </li>

  <li>
    Дијагностицира, лоцира и отстранува пречки и дефекти воавтоматизирани и контролни системи.
  </li>

  <li>
    Подготвува извештаи за тековните активности иприбира податоци за подготовка на техничка документација. Применува мерки за заштита и безбедност при работа и ја почитува заштитата на животната средина.
  </li>

</ul>
