<app-text

title="УГОСТИТЕЛСКА СТРУКА"

text="
Со учење во оваа струка вие се оспособувате за следните работни позиции:"

></app-text>


<ul>


  <li>
    <a class="text-success" href="/mk/nasoki/masinska_struka/#k">Готвач</a>
  </li>

  <li>
    <a class="text-success" href="/mk/nasoki/masinska_struka/#t">Teхничар за хотелско-туристичко работење</a>
  </li>


</ul>



<br>
<br>

<hr color="gray">
<br>
<br>

<app-text
id="k"
  title="Готвач"

></app-text>

<ul>

  <li>
    подготвува работна документација со користење информациско – кумуникациски средства комуницира со корисници на услуги на еден странски јазик

  <li>
    комуницира со соработници применувајки ги принципите на работна култура
  </li>

  <li>
    користи пропишана работна облека
  </li>

  <li>
    составува листа на јадења и менија за редовни и вонредни оброци
  </li>
  <li>
    припрема прехрамбени продукти за финализирање на различни видови готварски производи
  </li>
  <li>
    приготвува прехранбени продукти ѕа финализирање на различни видови готварски производи: ладни и топли предјадења, супи, чорби и потажи, основни сосови и фондови, једења од месо, риби, ракови и морски плодови, прилози, вегетаријански јадења, салати, слаткарски производи, национални јадења, правилна храна
  </li>
  <li>
    сервира, декорира и испорачува јадења во соодветни садови
  </li>
  <li>
    води и ажурира евиденција за работата во кујната
  </li>

  <li>
    работи во согласност со нормативите и гарантира за квалитетот на работа и услуги
  </li>

  <li>
    извршува работи во согласност со прописите за заштита на работна средина и околина
  </li>

</ul>

<br>
<br>
<hr color="gray">

<app-text
id="am"
title="Teхничар за хотелско-туристичко работење"

></app-text>

<ul>

  <li>
    <b> Рецепцискиот службеник</b>  самостојно извршува работни активности во сместувачките објекти иповрзани со прием, сместување и испраќање гости.

  <li>
    Прима и реализира резервации за индивидуалнигости и групи, калкулира и наплат ува услуги.Во рамките на овие работни задачи, ракува со собните клучеви /картици, се грижи за багажот и вредните предмети на гоститеи вршименувачки работи.
  </li>

  <li>
    Исто така, информира, советува и презентира угостителска понуда и услуги, резервира вонпансионски услуги во угостителскиот објект, подготвува различни видови прегледи и евиденции за тековното работење.
  </li>
  <li>
    Интегрира угостителски узанси во работењето, комуницира со гостите и деловните партнери на два светски јазици и решава конфликтни ситуации и тековни проблеми.

  <li>
    Обезбедува и осигурува безбедни услови за работа.
  </li>

  <li>
    Работи самостојно на извршување на работните задачи, поседува претприемачки вештини и има способност за тимска работа
  </li>
  <li>
   <b> Агенцискиот службеник </b> самостојно извршува работни активности во туристичката агенција поврзани со патување и престој на туристите во туристичката дестинација.

  <li>
    Планира, креира и калкулира туристички аранжмани по желба на клиентот, врши промотивни активности, продажба и наплата на туристичките аранжмани.
  </li>


  <li>
    Во рамките на овие работни задачи, составува и пополнува договори за патување, врши букирање на патниците,издава патничко осигурување, пополнува ваучери, изготвува руминг листа и список на патници.

  <li>
    Исто така, информира, советува и презентира туристички понуди и услуги, резервира услуги за сместување, храна и пијалок, резревира и продава различни видови возни билети, составува, калкулира, презентира и продава излети и разгледи, продава влезници за културни, спортски и естрадни манифестации, врши менувачки работи, пополнува и издава осигурителни полиси, посредува во склучувањедоговори за рент а кар услуги, подготвува различни видови прегледи и евиденции за тековното работење.
  </li>



  <li>
    Обезбедува и осигурува безбедни услови за работа.
  </li>

  <li>
    Работи самостојно на извршување на работните задачи, поседува претприемачки вештини и има способност за тимска работа.
  </li>

</ul>

<br>
<br>
