

form {

  height: 100%;
  color: white;


}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(221, 221, 221, 0.17);
  background-color: rgb(38, 38, 38);
  box-sizing: border-box;
}




button {
  background-color: #27ff76;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}


button:hover {
  opacity: 0.8;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(233, 31, 31);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}


img.avatar {
  width: 40%;
  border-radius: 50%;
}


.container {
  padding: 16px;
  background-color: rgb(49, 49, 49);
  color: white;
}
p{
  color: white;
}



span.psw {
  float: right;
  padding-top: 16px;
}


@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.logo{
  width: 100px;
  height: 100px;
}
