



  <app-carousel


  text="Посета на Софија во рамките на Еразмус+ проект"
  text2="Женската кошаркарска екипа при СОУ „Ѓорче Петров“ продолжува со успеси"
  text3="Спорт за развој"

  button="ПРОЧИТАЈ ПОВЕЌЕ"
  button2="ПРОЧИТАЈ ПОВЕЌЕ"
  button3="ПРОЧИТАЈ ПОВЕЌЕ"


  ></app-carousel>





  <app-nav-feed

  title="HАШЕ МОТО"

  moto1="ЕДУКАЦИЈАТА НЕ Е ПОДГОТОВКА ЗА ЖИВОТ"
  moto2="ЕДУКАЦИЈАТА Е САМИОТ ЖИВОТ."


  sub_moto1="Наша мисија е да ја препознаеме индивидуалноста која мора да биде во корелација"
  sub_moto2="со тимската работа која поттикнува креативност и создава квалитет."

  about="/mk/about"
  contact="/mk/contackt"

  about_text="За Гимназијата"
  contact_text="Контактирајте не"




  ></app-nav-feed>
  <app-news-feed

  title="Првоаприлски хепенинг"
  title2="Посета на Софија во рамките на Еразмус+ проект"
  title3="Михаела Алексовска – гордост на училиштето, амбасадор на градот"
  title4="Спорт за развој"
  title5="Општински натпревар по англиски јазик"

  img="./assets/images/april.jpg"
  img2="./assets/images/11.jpg"
  img3="./assets/images/m.png"
  img4="./assets/images/stefan.jpg"
  img5="./assets/images/eng2.jpg"

  link="https://gjorchepetrov.edu.mk/%d0%bf%d1%80%d0%b2%d0%be%d0%b0%d0%bf%d1%80%d0%b8%d0%bb%d1%81%d0%ba%d0%b8-%d1%85%d0%b5%d0%bf%d0%b5%d0%bd%d0%b8%d0%bd%d0%b3/"
  link2="https://gjorchepetrov.edu.mk/%d0%bf%d0%be%d1%81%d0%b5%d1%82%d0%b0-%d0%bd%d0%b0-%d1%81%d0%be%d1%84%d0%b8%d1%98%d0%b0-%d0%b2%d0%be-%d1%80%d0%b0%d0%bc%d0%ba%d0%b8%d1%82%d0%b5-%d0%bd%d0%b0-%d0%b5%d1%80%d0%b0%d0%b7%d0%bc%d1%83%d1%81/"
  link3="https://gjorchepetrov.edu.mk/%d0%bc%d0%b8%d1%85%d0%b0%d0%b5%d0%bb%d0%b0-%d0%b0%d0%bb%d0%b5%d0%ba%d1%81%d0%be%d0%b2%d1%81%d0%ba%d0%b0-%d0%b3%d0%be%d1%80%d0%b4%d0%be%d1%81%d1%82-%d0%bd%d0%b0-%d1%83%d1%87%d0%b8%d0%bb%d0%b8%d1%88/"
  link4="https://www.facebook.com/EuropeHouseKrivaPalanka"
  link5="https://gjorchepetrov.edu.mk/%d0%be%d0%bf%d1%88%d1%82%d0%b8%d0%bd%d1%81%d0%ba%d0%b8-%d0%bd%d0%b0%d1%82%d0%bf%d1%80%d0%b5%d0%b2%d0%b0%d1%80-%d0%bf%d0%be-%d0%b0%d0%bd%d0%b3%d0%bb%d0%b8%d1%81%d0%ba%d0%b8-%d1%98%d0%b0%d0%b7%d0%b8/"


  main_link="/mk/novosti/one"
  main_title="Вести и Настани"
  main_link_text="ОСТАНАТИ ВЕСТИ И НАСТАНИ"


  ></app-news-feed>
