



  <app-carousel
  title="Еразмус+ проект"
  title2="Еразмус + проект"
  title3="Регионален натпревар"

  text="Посета на Софија во рамките на Еразмус+ проект"
  text2="Повик за учество на ученици во Еразмус + проект – мобилност во Белгија"
  text3="Регионален натпревар по француски јазик – спелување"

  button="ПРОЧИТАЈ ПОВЕЌЕ"
  button2="ПРОЧИТАЈ ПОВЕЌЕ"
  button3="ПРОЧИТАЈ ПОВЕЌЕ"


  ></app-carousel>





  <app-nav-feed

  title="HАШЕ МОТО"

  moto1="ЕДУКАЦИЈАТА НЕ Е ПОДГОТОВКА ЗА ЖИВОТ"
  moto2="ЕДУКАЦИЈАТА Е САМИОТ ЖИВОТ."


  sub_moto1="Наша мисија е да ја препознаеме индивидуалноста која мора да биде во корелација"
  sub_moto2="со тимската работа која поттикнува креативност и создава квалитет."

  about="/mk/about"
  contact="/mk/contackt"

  about_text="За Гимназијата"
  contact_text="Контактирајте не"




  ></app-nav-feed>
  <app-news-feed

  title="Првоаприлски хепенинг"
  title2="Посета на Софија во рамките на Еразмус+ проект"
  title3="Михаела Алексовска – гордост на училиштето, амбасадор на градот"
  title4="Регионален натпревар по француски јазик – спелување"
  title5="Повик за учество на ученици во Еразмус + проект – мобилност во Белгија"

  img="./assets/images/april.jpg"
  img2="./assets/images/11.jpg"
  img3="./assets/images/m.png"
  img4="./assets/images/2.jpg"
  img5="./assets/images/yes.jpg"

  link=""
  link2=""
  link3=""
  link4=""
  link5=""

  main_link="/mk/novosti/one"
  main_link_text="ОСТАНАТИ ВЕСТИ И НАСТАНИ"


  ></app-news-feed>





