div{
  margin-top: 15px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}



mat-form-field{
  width: 230px;
  align-items: center;
}


mat-label{
align-items: center;
display: flex;
}
input{
  background-color: white;

}

.opt
{
 align-items: center;
}
