



<app-novost title="Sport 2" img="./assets/images/sport3.jpeg" by="Naum Zlatanovski" date="3/29/2022"  ></app-novost>


<app-novost title="Sport 2" img="./assets/images/sport3.jpeg" by="Naum Zlatanovski" date="3/29/2022" ></app-novost>
<app-novost title="Sport 2" img="./assets/images/sport3.jpeg" by="Naum Zlatanovski" date="3/29/2022"  ></app-novost>
<app-novost title="Sport 2" img="./assets/images/sport3.jpeg" by="Naum Zlatanovski" date="3/29/2022"  ></app-novost>
<app-novost title="Sport 2" img="./assets/images/sport3.jpeg" by="Naum Zlatanovski" date="3/29/2022"  ></app-novost>
<app-novost title="Sport 2" img="./assets/images/sport3.jpeg" by="Naum Zlatanovski" date="3/29/2022"></app-novost>
<app-novost title="Sport 2" img="./assets/images/sport3.jpeg" by="Naum Zlatanovski" date="3/29/2022" ></app-novost>
<app-novost title="Sport 2" img="./assets/images/sport3.jpeg" by="Naum Zlatanovski" date="3/29/2022" ></app-novost>
<app-novost title="Sport 2" img="./assets/images/sport3.jpeg" by="Naum Zlatanovski" date="3/29/2022" ></app-novost>



