<div class="news-container">

  <div  class="news-nav">
    <nav>
      <h1>Вести и новости</h1>

      <a [routerLink]="main_link"><button color="primary"  mat-flat-button >{{main_link_text}} <mat-icon>arrow_right</mat-icon>
      </button></a>



    </nav>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="new">
          <p>
            <img [src]="img" alt=""> <br> <br>

           <b>{{title}}</b>
      <br>
           <a [routerLink]="link">Read More</a>
          </p>

          <p>
            <img [src]="img2" alt=""> <br> <br>

           <b>{{title2}}</b>
      <br>
           <a [routerLink]="link2">Read More</a>
          </p>

        </div>
      </div>
      <div class="carousel-item">
        <div class="new">
          <p>
            <img [src]="img3" alt=""> <br> <br>

           <b>{{title3}}</b>
      <br>
           <a [routerLink]="link3">Read More</a>
          </p>

          <p>
            <img [src]="img4" alt=""> <br> <br>

           <b>{{title4}}</b>
      <br>
           <a [routerLink]="link4">Read More</a>
          </p>

        </div>
      </div>
      <div class="carousel-item">
        <div class="new">
          <p>
            <img class="img" [src]="img5" alt=""> <br> <br>

           <b>{{title5}}</b>
      <br>
           <a [routerLink]="link5">Read More</a>
          </p>



        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <button mat-raised-button color="primary" ><mat-icon>chevron_left</mat-icon></button>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <button mat-raised-button color="primary" ><mat-icon>chevron_right</mat-icon></button>
    </a>
  </div>

</div>


