    <div class="container">

        <div class="card">
            <img src="sport2.gif" alt="">
            <div class="layer">
                <h1>Natprevar po angliski jazik</h1>
                <p>Regionalen natprevar po angliski jazik,
                kade ucestvuvaa 150 ucenici</p>
                <a href="">Doznaj povekje</a> <span>&gt;</span>
            </div>
        </div>
        <div class="card2">
            <img src="mkd.png" alt="">
            <div class="layer">
                <h1>Makedonski drami</h1>
                <p>Pretstava na Makedonska drama vo gradskiot teatar.
                Kade sto ucestvuvaa ucenici od SOUGP</p>
                <a href="">Doznaj povekje</a> <span>&gt;</span>
            </div>
        </div>
        <div class="card3">
            <img src="./assets/images/sport4.jpeg" alt="">
            <div class="layer">
                <h1>Natprevar po sport i fizicka aktivnost</h1>
                <p>Natprevar po fudbal</p>
                <a href="">Doznaj povekje</a> <span>&gt;</span>
            </div>
        </div>
    </div>
