<div class="news-container">

  <div  class="news-nav">
    <nav>
      <button color="accent" mat-flat-button ><mat-icon>chevron_left</mat-icon></button>
      <button color="accent" mat-flat-button ><mat-icon>chevron_right</mat-icon></button>
      <button color="accent" mat-flat-button >Останати вести и новости <mat-icon>arrow_right</mat-icon>
      </button>



    </nav>
  </div>


  <div class="news">



    <div class="new">

    <p>
      <img src="./assets/images/sport.jpeg" alt="">

     Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, modi. Ea impedit ratione quis quaerat alias numquam delectus tempore dignissimos enim, dolores deserunt blanditiis distinctio reiciendis labore quam ab tenetur!
<br>
     <a routerLink="">Published in</a>
    </p>

  </div>

  <div class="new">
    <p>
      <img src="./assets/images/sport.jpeg" alt="">

     Published in ipsum dolor sit amet consectetur adipisicing elit. Ex, modi. Ea impedit ratione quis quaerat alias numquam delectus tempore dignissimos enim, dolores deserunt blanditiis distinctio reiciendis labore quam ab tenetur!
<br>
     <a routerLink="">Published in</a>
    </p>

  </div>

</div>



</div>
