
  <header>
  <app-nav-links link="active" icon="home" [links]="link1"  ></app-nav-links>

  <app-nav-links link="active" [links]="link2" [text]="page2" ></app-nav-links>

  <app-nav-links link="active" [links]="link3" [text]="page3" ></app-nav-links>


  <app-nav-links link="active" [links]="link4" [text]="page4" ></app-nav-links>



  <app-nav-links link="active"  [links]="link5"[text]="page5" ></app-nav-links>



  <app-nav-links link="active" [links]="link6" [text]="page6"></app-nav-links>



  <app-nav-links link="active" [links]="link7" [text]="page7" ></app-nav-links>






</header>

<style>
  header{
position: relative;
top: 70px;
background-color: rgb(45, 45, 45);

  }
</style>
