
  <header>
  <app-nav-links links="" text="ДОМА" ></app-nav-links>

  <app-nav-links text="ВЕСТИ И НАСТАВА" ></app-nav-links>

  <app-nav-links text="ЗА ГИМНАЗИЈАТА" ></app-nav-links>

  <app-nav-links text="ДОКУМЕНТИ" ></app-nav-links>

  <app-nav-links text="НАСОКИ" ></app-nav-links>

  <app-nav-links text="ПРЕДМЕТИ" ></app-nav-links>

  <app-nav-links text="УПИСИ" ></app-nav-links>

  <app-nav-links links="otvoreni_casovi" text="ОТВОРЕНИ ЧАСОВИ" ></app-nav-links>

  <app-nav-links links="proekti" text="ПРОЕКТИ"></app-nav-links>

  <app-nav-links text="РАСПОРЕД" ></app-nav-links>

  <app-nav-links text="КОНТАКТ" ></app-nav-links>

  <app-nav-links text="Е-НАСТАВА" ></app-nav-links>


</header>

<style>
  header{
    position: absolute;
    top: 74px;
  }
</style>
