
  <header>
  <app-nav-links link="active" links="/mk/home" text="ДОМА" ></app-nav-links>

  <app-nav-links link="active" links="/mk/novosti/one" text="ВЕСТИ И НАСТАВА" ></app-nav-links>

  <app-nav-links link="active" links="/mk/about" text="ЗА ГИМНАЗИЈАТА" ></app-nav-links>


  <app-nav-links link="active" links="/mk/nasoki" text="НАСОКИ" ></app-nav-links>



  <app-nav-links link="active"  links="/mk/upisi"text="УПИСИ" ></app-nav-links>



  <app-nav-links link="active" links="/mk/proekti" text="ПРОЕКТИ"></app-nav-links>



  <app-nav-links link="active" links="/mk/contackt" text="КОНТАКТ" ></app-nav-links>

  <app-nav-links link="active" links="/mk/search" icon="search"  ></app-nav-links>





</header>

<style>
  header{
position: relative;
top: 70px;
background-color: rgb(45, 45, 45);

  }
</style>
