<app-text

title="MECHANICAL PROFESSION"

></app-text>


<ul>


  <li>
    <a class="text-success" href="/en/nasoki/masinska_struka/#mt">MECHANICAL TECHNICIAN</a>
  </li>

  <li>
    <a class="text-success" href="/en/nasoki/masinska_struka/#am">CAR WORKER</a>
  </li>


</ul>

<br>
<br>

<hr color="gray">
<br>
<br>

<app-text
id="mt"
  title="MECHANICAL TECHNICIAN"
  text="After completing four years of training as a Mechanical Technician, you prepare for the following tasks:"
></app-text>

<ul>

  <li>
    The operator prepares technological documentation for installation and maintenance of machines and devices, receives and studies the design and construction documentation for production and operation of individual machines and plants from textile, food, tobacco, chemical, metallurgical, construction, mining and agricultural industry.

  <li>
    develops the technological documentation for their installation or maintenance of their work, monitors the installation and repairs according to the prescribed technology and performs the necessary harmonizations of the technological documentation, participates in resolving the complaints and introducing new procedures, initiates measures for changes in the construction and working documentation in order to achieve greater functionality and safety of the product, prepares a norm for the time of installation, stores and preserves technological documentation and maintains the correctness of the work accessories,
  </li>

  <li>
    prepares operational plans for the necessary funds and time for installation of new plants, launches technological and working documentation and monitors the execution of operational plans for installation and preparation of a report, planning and termination of ongoing maintenance and overhaul of machines and devices according to time and requirements means for maintenance and alignment of maintenance plans of machines and devices with production plans and possibilities for supply of materials, tool parts and other means necessary for maintenance of machines and devices.
  </li>



</ul>

<br>
<br>
<hr color="gray">

<app-text
id="am"
title="AВТОМЕХАНИЧАР"

></app-text>

<ul>

  <li>
    Car mechanics adjust, install, service and repair engines and other mechanical equipment of passenger cars or other light motor vehicles.

  <li>
    Car mechanics test, repair or replace old engines with new ones, testing, tuning, servicing, testing and repairing the braking system of motor vehicles.
  </li>

  <li>
    The tasks of light vehicle mechanics also include testing, tuning, servicing, testing and repairing the steering system and fuel supply systems, as well as replacing worn-out parts with new spare parts.
  </li>



</ul>

<br>
<br>
