<div class="container">


  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Name</mat-label>
    <input  width="400px" matInput placeholder="Write your name here" >


  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline" >
    <mat-label>Email</mat-label>
    <input  width="400px" matInput placeholder="Write your email here" type="text">
  </mat-form-field>





  <mat-form-field class="example-full-width" appearance="outline" >
    <mat-label>Title</mat-label>
    <input matInput placeholder="Write your messages title" type="text">
  </mat-form-field>

  <mat-form-field  class="example-full-width" appearance="outline">
    <mat-label>Message</mat-label>
    <textarea id="msg" matInput placeholder="Write your message here"></textarea>
  </mat-form-field>



</div>
