<div class="container">
  <header>

    <mat-form-field  color="primary"   appearance="outline">
      <mat-label> Choose Directions </mat-label>
      <mat-select  >
        <a routerLink="/en/nasoki/gimnazisko_obrazovanie"><mat-option> HIGH SCHOOL EDUCATION </mat-option></a>
        <a routerLink="/en/nasoki/elektrotexnicka_struka"><mat-option> ELECTRICAL ENGINEERING PROFESSION </mat-option></a>
        <a routerLink="/en/nasoki/masinska_struka"><mat-option> MEHANICAL PROFESSION </mat-option></a>
        <a routerLink="/en/nasoki/ugostitelska_struka"><mat-option> CATERING - TOURISM PROFESSION </mat-option></a>






      </mat-select>


    </mat-form-field>

  </header>


  <router-outlet>


  </router-outlet>
  </div>
