<div class="container">
  <app-text
    title="HIGH SCHOOL EDUCATION"
    text="
    The following areas are represented in high school education: Social-humanistic area combination A, Language-art area combination A, Natural-mathematical area combination A and Natural-mathematical area combination B."
  ></app-text>

  <ul>
    <li>
      <a class="text-success" href="/en/nasoki/gimnazisko_obrazovanie/#a">NATURAL MATHEMATICS AREA COMBINATION A</a>
    </li>
    <li>
      <a class="text-success"  href="/en/nasoki/gimnazisko_obrazovanie/#b">NATURAL MATHEMATICS AREA COMBINATION B</a>
    </li>
    <li>
      <a  class="text-success" href="/en/nasoki/gimnazisko_obrazovanie/#a2">LANGUAGE AND ART AREA COMBINATION A</a>
    </li>
    <li>
      <a class="text-success"  href="/en/nasoki/gimnazisko_obrazovanie/#b2">LANGUAGE AND ART AREA COMBINATION B</a>
    </li>
    <li>
      <a class="text-success"  href="/en/nasoki/gimnazisko_obrazovanie/#a3">SOCIAL-HUMANITARIAN AREA COMBINATION A</a>
    </li>
    <li>
      <a class="text-success"  href="/en/nasoki/gimnazisko_obrazovanie/#b3">SOCIAL-HUMANITARIAN AREA COMBINATION B</a>
    </li>
  </ul>

  <br />
  <br />

  <hr color="gray" />
  <app-text
    title="Successful completion of programs in the field of natural sciences and mathematics, combination A allows students to more easily enroll and successfully complete their studies at:"
    text="Faculty of Electrical Engineering, Architecture, Mechanical Engineering and Natural Sciences and Mathematics (Informatics, Mathematics, Physics and Geography)."
    id="a"
  ></app-text>

  <hr color="gray" />

  <app-text
    title="Combination B of elective courses allows graduates to more easily enroll and successfully complete their studies at:"
    text="Faculty of Medicine, Agriculture, Veterinary, Technological and Natural Sciences and Mathematics (Chemistry, Biology, Physics and Geography)."
    id="b"
  ></app-text>

  <hr color="gray" />
  <app-text
    title="Successful completion of programs in the field of language and art, combination A allows students to more easily enroll and successfully complete their studies at:"
    text="Faculty of Philosophy, Philology and Pedagogy."
    id="a2"
  ></app-text>

  <hr color="gray" />

  <app-text
    title="Successful completion of programs in the field of language and art, combination B enables students to more easily enroll and successfully complete their studies at:"
    text="Faculty of Philosophy, Philology and Pedagogy."
    id="b2"
  ></app-text>

  <hr color="gray" />
  <app-text
    title="Successful completion of programs in the field of social sciences, combination A allows students to more easily enroll and successfully complete their studies at:"
    text="faculties of economics, law, philosophy and philology.."
    id="a3"
  ></app-text>

  <hr color="gray" />

  <app-text
    title="Successful completion of programs in the field of social sciences, combination B enables students to more easily enroll and successfully complete their studies at:"
    text="faculties of economics, law, philosophy and philology."
    id="b3"
  ></app-text>

  <hr color="gray" />
</div>
