
<div class="cont">

<div class="list-group">

  <div>

    <app-novost

    title="Sport for Development"
    img="./assets/images/eu.jpg"
    by="Naum Zlatanovski"
    date="4/7/2022"
    link="https://www.facebook.com/EuropeHouseKrivaPalanka"

></app-novost>

<hr color="gray">

    <app-novost

    title="THE WOMEN'S BASKETBALL TEAM AT THE HIGH SCHOOL 'GJORCE PETROV' CONTINUES WITH SUCCESS"
    img="./assets/images/k.jpg"
    by="Naum Zlatanovski"
    date="4/7/2022"
    link="https://gjorchepetrov.edu.mk/%d0%b6%d0%b5%d0%bd%d1%81%d0%ba%d0%b0%d1%82%d0%b0-%d0%ba%d0%be%d1%88%d0%b0%d1%80%d0%ba%d0%b0%d1%80%d1%81%d0%ba%d0%b0-%d0%b5%d0%ba%d0%b8%d0%bf%d0%b0-%d0%bf%d1%80%d0%b8-%d1%81%d0%be%d1%83-%d1%93/"


  ></app-novost>

  <hr color="gray">


  <app-novost

      title="April Fool's Happening"
      img="./assets/images/april.jpg"
      by="Naum Zlatanovski"
      date="4/7/2022"
      link="https://gjorchepetrov.edu.mk/%d0%bf%d1%80%d0%b2%d0%be%d0%b0%d0%bf%d1%80%d0%b8%d0%bb%d1%81%d0%ba%d0%b8-%d1%85%d0%b5%d0%bf%d0%b5%d0%bd%d0%b8%d0%bd%d0%b3/"


  ></app-novost>

  <hr color="gray">

  <app-novost

      title="Visit to Sofia within the Erasmus +"
      img="assets/images/11.jpg"
      by="Naum Zlatanovski"
      date="4/7/2022"
      link="https://gjorchepetrov.edu.mk/%d0%bf%d0%be%d1%81%d0%b5%d1%82%d0%b0-%d0%bd%d0%b0-%d1%81%d0%be%d1%84%d0%b8%d1%98%d0%b0-%d0%b2%d0%be-%d1%80%d0%b0%d0%bc%d0%ba%d0%b8%d1%82%d0%b5-%d0%bd%d0%b0-%d0%b5%d1%80%d0%b0%d0%b7%d0%bc%d1%83%d1%81/"

  ></app-novost>
  <hr color="gray">

  <app-novost

      title="Mihaela Aleksovska - pride of the school, ambassador of the city"
      img="assets/images/m.png"
      by="Naum Zlatanovski"
      date="4/7/2022"
      link="https://gjorchepetrov.edu.mk/%d0%bc%d0%b8%d1%85%d0%b0%d0%b5%d0%bb%d0%b0-%d0%b0%d0%bb%d0%b5%d0%ba%d1%81%d0%be%d0%b2%d1%81%d0%ba%d0%b0-%d0%b3%d0%be%d1%80%d0%b4%d0%be%d1%81%d1%82-%d0%bd%d0%b0-%d1%83%d1%87%d0%b8%d0%bb%d0%b8%d1%88/"

  ></app-novost>
  <hr color="gray">


  <app-novost

      title="Regional competition in French - spelling"
      img="./assets/images/2.jpg"
      by="Naum Zlatanovski"
      date="4/7/2022"
      link="https://gjorchepetrov.edu.mk/%d0%be%d0%bf%d1%88%d1%82%d0%b8%d0%bd%d1%81%d0%ba%d0%b8-%d0%bd%d0%b0%d1%82%d0%bf%d1%80%d0%b5%d0%b2%d0%b0%d1%80-%d0%bf%d0%be-%d0%b0%d0%bd%d0%b3%d0%bb%d0%b8%d1%81%d0%ba%d0%b8-%d1%98%d0%b0%d0%b7%d0%b8/"
  ></app-novost>


  <hr color="gray">

    <app-novost

    title="Municipal English Language Competition"
    img="./assets/images/eng2.jpg"
    by="Naum Zlatanovski"
    date="4/7/2022"
    link="https://gjorchepetrov.edu.mk/%d0%b6%d0%b5%d0%bd%d1%81%d0%ba%d0%b0%d1%82%d0%b0-%d0%ba%d0%be%d1%88%d0%b0%d1%80%d0%ba%d0%b0%d1%80%d1%81%d0%ba%d0%b0-%d0%b5%d0%ba%d0%b8%d0%bf%d0%b0-%d0%bf%d1%80%d0%b8-%d1%81%d0%be%d1%83-%d1%93/"


  ></app-novost>


<hr color="gray">


  <app-novost

      title="High school 'Gjorce Petrov' - one of the ten 'Super schools' in RS Macedonia"
      img="./assets/images/superschools.png"
      by="Naum Zlatanovski"
      date="4/7/2022"
      link="https://gjorchepetrov.edu.mk/%d1%81%d0%be%d1%83-%d1%93%d0%be%d1%80%d1%87%d0%b5-%d0%bf%d0%b5%d1%82%d1%80%d0%be%d0%b2-%d0%b5%d0%b4%d0%bd%d0%be-%d0%be%d0%b4-%d0%b4%d0%b5%d1%81%d0%b5%d1%82%d1%82%d0%b5"

  ></app-novost>

  <hr color="gray">




  </div>

</div>



</div>
