<div class="container">






<ul>
  <h1>OD gimnazisko obrazovanie</h1>
  <li>
    <a href="/mk/nasoki/gimnazisko_obrazovanie/#nu">dfgdsf</a>

  </li>
  <li>
<a href="/mk/nasoki/gimnazisko_obrazovanie/#nm">dfsdfsdf</a>

  </li>
</ul>

<hr>
<app-text
  title="Naum"
  text="fgdfgfdgdfgdfgdfgdfgdfgfdgfdgdfg"
  id="naum"
></app-text>

<hr>

<app-text
  title="Naum"
  text="fgdfgfdgdfgdfgdfgdfgdfgfdgfdgdfg"
  id="nu"
></app-text>

<hr>
<app-text
  title="Naum"
  text="fgdfgfdgdfgdfgdfgdfgdfgfdgfdgdfg"
  id="na"
></app-text>

<hr>

<app-text
  title="Naum"
  text="fgdfgfdgdfgdfgdfgdfgdfgfdgfdgdfg"
  id="nm"
></app-text>

<hr>

</div>
