<div class="container">
  <app-text
    title="ГИМНАЗИСКО ОБРАЗОВАНИЕ"
    text="
  Во гимназиско образование се застапени следните подрачја: Општествено-хуманистичко подрачје комбинација А, Јазично-уметничко подрачје комбинација А, Природно-математичко подрачје комбинација А и Природно-математичко подрачје комбинација Б."
  ></app-text>

  <ul>
    <li>
      <a class="text-success" href="/mk/nasoki/gimnazisko_obrazovanie/#a">ПРИРОДНО МАТЕМАТИЧКО ПОДРАЧЈЕ КОМБИНАЦИЈА А</a>
    </li>
    <li>
      <a class="text-success"  href="/mk/nasoki/gimnazisko_obrazovanie/#b">ПРИРОДНО МАТЕМАТИЧКО ПОДРАЧЈЕ КОМБИНАЦИЈА Б</a>
    </li>
    <li>
      <a  class="text-success" href="/mk/nasoki/gimnazisko_obrazovanie/#a2">ЈАЗИЧНО-УМЕТНИЧКО  ПОДРАЧЈЕ КОМБИНАЦИЈА А</a>
    </li>
    <li>
      <a class="text-success"  href="/mk/nasoki/gimnazisko_obrazovanie/#b2">ЈАЗИЧНО-УМЕТНИЧКО  ПОДРАЧЈЕ КОМБИНАЦИЈА Б</a>
    </li>
    <li>
      <a class="text-success"  href="/mk/nasoki/gimnazisko_obrazovanie/#a3">ОПШТЕСТВЕНО-ХУМАНИСТИЧКО  ПОДРАЧЈЕ КОМБИНАЦИЈА А</a>
    </li>
    <li>
      <a class="text-success"  href="/mk/nasoki/gimnazisko_obrazovanie/#b3">ОПШТЕСТВЕНО-ХУМАНИСТИЧКО  ПОДРАЧЈЕ КОМБИНАЦИЈА Б</a>
    </li>
  </ul>

  <br />
  <br />

  <hr color="gray" />
  <app-text
    title="Успешното завршување на програмите од природно-математичкото подрачје, комбинација А  овозможува учениците полесно да се запишат и успешно да ги завршат студиите на:"
    text="електро-технички,
  архитектонски,
  машински и
  природно-математички факултет (информатика, математика, физика и географија)."
    id="a"
  ></app-text>

  <hr color="gray" />

  <app-text
    title="Комбинацијата Б на изборни предмети им овозможува на завршените матуранти полесно да се запишат и успешно да ги завршат студиите на:"
    text="медицински,
  земјоделски,
  ветеринарен,
  технолошки  и
  природно-математички факултет (хемија, биологија, физика и географија)."
    id="b"
  ></app-text>

  <hr color="gray" />
  <app-text
    title="Успешното завршување на програмите од јазично-уметничкото подрачје, комбинација А  овозможува учениците полесно да се запишат и успешно да ги завршат студиите на :"
    text="филозофски,
  филолошки и
  педагошки факултет."
    id="a2"
  ></app-text>

  <hr color="gray" />

  <app-text
    title="Успешното завршување на програмите од јазично-уметничкото подрачје, комбинација Б  овозможува учениците полесно да се запишат и успешно да ги завршат студиите на :"
    text="филозофски,
  филолошки и
  педагошки факултет."
    id="b2"
  ></app-text>

  <hr color="gray" />
  <app-text
    title="Успешното завршување на програмите од општествено-хуманистичкото подрачје, комбинација А  овозможува учениците полесно да се запишат и успешно да ги завршат студиите на:"
    text="економски,
  правен,
  филозофски и
  филолошки факултети."
    id="a3"
  ></app-text>

  <hr color="gray" />

  <app-text
    title="Успешното завршување на програмите од општествено-хуманистичкото подрачје, комбинација Б  овозможува учениците полесно да се запишат и успешно да ги завршат студиите на:"
    text="економски,
  правен,
  филозофски и
  филолошки факултети."
    id="b3"
  ></app-text>

  <hr color="gray" />
</div>
