
<div class="container">


  <app-text
  title="High school education"
  text="60 points minimum"
  ></app-text>

  <hr color="gray">

  <h1>Electrical engineering profession</h1>

  <app-text
  title="Electrical technician for computer technology and automation"
  text="55 points minimum"
  ></app-text>

  <hr color="gray">


  <h1>Mechanical profession</h1>

<app-text
title="Mechanical Technician and Car Mechanic"
text="45 points minimum"
></app-text>
<hr color="gray">


<h1>Catering - tourism profession</h1>

<app-text
title="waiter / confectioner / cook"
text="30 points minimum"
></app-text>

<hr color="gray">


<h1>Health profession</h1>

<app-text
title="nurse"
text="70 points minimum"
></app-text>

<hr color="gray">


<h1>Construction - geodetic profession</h1>

<app-text
title="Construction technician"
text="45 points minimum"
></app-text>

</div>




