<div class="container">

  <a routerLink="/en/nasoki/gimnazisko_obrazovanie"><button color="warn" mat-raised-button> HIGH SCHOOL EDUCATION </button></a>
      <a routerLink="/en/nasoki/elektrotexnicka_struka"><button color="warn" mat-raised-button> ELECTRICAL ENGINEERING PROFESSION  </button></a>
      <a routerLink="/en/nasoki/masinska_struka"><button color="warn" mat-raised-button> MEHANICAL PROFESSION </button></a>
      <a routerLink="/en/nasoki/ugostitelska_struka"><button color="warn" mat-raised-button> CATERING - TOURISM PROFESSION </button></a>


</div>
