.cont{
  position: relative;
  top: 200px;
  left: 170px;
  color: white;
  background-color: rgb(54, 54, 54);
  align-items: center;
  width: 1200px;
  height: 300%;
  border-radius: 15px;

}

.container{
  position: absolute;
  top: 40px;
}

.nav{
  position: absolute;
  bottom: 0;
  left: 100px;
}
