.cont{
  position: relative;
  top: 200px;
  left: 400px;
  color: black;
  background-color: white;
  align-items: center;
  width: 700px;
  height: 200%;
}

.container{
  position: absolute;
  top: 40px;
}
