a{
  color: rgba(200, 200, 200, 0.799);
margin-left: 75px;


}
a:hover{
  color: white;
}

a.active{

button{
  color: #64ff64e1;
border-bottom: 3px solid #64ff64e1;
background-color: rgba(211, 211, 211, 0.108);

border-bottom-left-radius:none ;
border-bottom-right-radius:none ;
border-top-left-radius:5px ;
border-top-right-radius:5px ;



}


}

button{
  background-color: none;
  outline: none;
  border-radius: 3px;


}

button:hover
{


background-color: rgba(255, 255, 255, 0.116) ;

}
