a{
  color: white;
margin-left: 40px;


}

a.active{

button{
  border-bottom: 2px solid #64ff64e1;
  color: #64ff64e1;
  background-color: rgba(211, 211, 211, 0.108);

}
}

button{
  background-color: none;
  outline: none;
  border-radius: 0;


}

button:hover
{
  border-radius: 5px;

background-color: rgba(255, 255, 255, 0.116) ;

}
