
<div>

  <app-novost

  title="Женската кошаркарска екипа при СОУ „Ѓорче Петров“ продолжува со успеси"
  img="./assets/images/k.jpg"
  by="Naum Zlatanovski"
  date="4/2/2022"

></app-novost>

<hr>


<app-novost

    title="Првоаприлски хепенинг"
    img="./assets/images/april.jpg"
    by="Naum Zlatanovski"
    date="4/3/2022"

></app-novost>

<hr>

<app-novost

    title="Посета на Софија во рамките на Еразмус+ проект"
    img="assets/images/11.jpg"
    by="Naum Zlatanovski"
    date="4/3/2022"

></app-novost>
<hr>

<app-novost

    title="Михаела Алексовска – гордост на училиштето, амбасадор на градот"
    img="assets/images/m.png"
    by="Naum Zlatanovski"
    date="4/3/2022"

></app-novost>
<hr>


<app-novost

    title="Регионален натпревар по француски јазик – спелување"
    img="./assets/images/2.jpg"
    by="Naum Zlatanovski"
    date="4/2/2022"

></app-novost>
<hr>


<app-novost

    title="Повик за учество на ученици во Еразмус + проект – мобилност во Белгија"
    img="./assets/images/yes.jpg"
    by="Naum Zlatanovski"
    date="4/2/2022"

></app-novost>

<hr>



</div>
