<app-text

title="CATERING EXPERT"

text="
By studying in this profession you prepare for the following job positions:"

></app-text>


<ul>


  <li>
    <a class="text-success" href="/en/nasoki/masinska_struka/#k">COOK</a>
  </li>

  <li>
    <a class="text-success" href="/en/nasoki/masinska_struka/#t">HOTEL AND TOURISM TECHNICIAN</a>
  </li>


</ul>



<br>
<br>

<hr color="gray">
<br>
<br>

<app-text
id="k"
  title="COOK"

></app-text>

<ul>

  <li>
    prepares working documentation using information - communication tools communicates with service users in one foreign language

  <li>
    communicates with co-workers applying the principles of work culture
  </li>

  <li>
    uses prescribed work clothes
  </li>

  <li>
    compiles a list of dishes and menus for regular and emergency meals
  </li>
  <li>
    prepares food products to finalize different types of cooking products
  </li>
  <li>
    prepares food products for finalizing different types of cooking products: cold and hot appetizers, soups, stews and stews, basic sauces and stews, meat, fish, crab and seafood dishes, side dishes, vegetarian dishes, salads, confectionery, national dishes , proper food
  </li>
  <li>
    serves, decorates and delivers dishes in appropriate containers
  </li>
  <li>
    keeps and updates records of work in the kitchen
  </li>

  <li>
    operates in accordance with the norms and guarantees the quality of work and services
  </li>

  <li>
    performs activities in accordance with the regulations for protection of the working environment and environment
  </li>

</ul>

<br>
<br>
<hr color="gray">

<app-text
id="am"
title="HOTEL AND TOURISM TECHNICIAN"

></app-text>

<ul>

  <li>
    <b> The receptionist</b>  independently performs work activities in the accommodation facilities related to the reception, accommodation and sending of guests.

  <li>
    Receives and realizes reservations for individuals and groups, calculates and charges for services.
  </li>

  <li>
    Also, informs, advises and presents catering offer and services, reserves out-of-board services in the catering facility, prepares various types of examinations and records for the current operation.
  </li>
  <li>
    Integrates catering practices in the work, communicates with guests and business partners in two world languages ​​and solves conflict situations and current problems.

  <li>
    Provides and ensures safe working conditions.
  </li>

  <li>
    Works independently on work tasks, has entrepreneurial skills and has the ability to work in a team
  </li>
  <li>
   <b> The agency officer </b> independently performs work activities in the travel agency related to the travel and stay of the tourists in the tourist destination.

  <li>
    Plans, creates and calculates tourist arrangements at the request of the client, performs promotional activities, sale and collection of tourist arrangements.
  </li>


  <li>
    Within these work tasks, he compiles and fills out travel contracts, books passengers, issues travel insurance, fills out vouchers, prepares a roaming list and a list of passengers.

  <li>
    Also informs, advises and presents tourist offers and services, books accommodation services, food and drink, reserves and sells various types of train tickets, compiles, calculates, presents and sells excursions and sightseeing, sells tickets for cultural, sports and entertainment events , performs exchange operations, fills in and issues insurance policies, mediates in concluding contracts for car rental services, prepares various types of reviews and records for the current operation.
  </li>



  <li>
    Provides and ensures safe working conditions.
  </li>

  <li>
    Works independently on work tasks, has entrepreneurial skills and has the ability for teamwork.
  </li>

</ul>

<br>
<br>
