



  <app-carousel


  text="VISIT TO SOFIA WITHIN THE ERASMUS + PROJECT"
  text2="THE WOMEN'S BASKETBALL TEAM AT THE HIGH SCHOOL 'GJORCE PETROV' CONTINUES WITH SUCCESS"
  text3="SPORT FOR DEVELOPMENT"

  button="READ MORE"
  button2="READ MORE"
  button3="READ MORE"


  ></app-carousel>




  <app-nav-feed

  title="OUR MOTTO"

  moto1="EDUCATION IS NOT PREPARATION FOR LIFE"
  moto2="EDUCATION IS LIFE ITSELF.."


  sub_moto1="Our mission is to recognize the individuality that must be correlated"
  sub_moto2="with teamwork that fosters creativity and creates quality."

  about="/en/about"
  contact="/en/contackt"

  about_text="About the High School  "
  contact_text="Contact Us"




  ></app-nav-feed>

  <app-news-feed

  title="April Fool's Happening"
  title2="Visit to Sofia within the Erasmus +"
  title3="Mihaela Aleksovska - pride of the school, ambassador of the city"
  title4="SPORT FOR DEVELOPMENT"
  title5="Municipal English Language Competition"

  img="./assets/images/april.jpg"
  img2="./assets/images/11.jpg"
  img3="./assets/images/m.png"
  img4="./assets/images/stefan.jpg"
  img5="./assets/images/eng2.jpg"

  link="https://gjorchepetrov.edu.mk/%d0%bf%d1%80%d0%b2%d0%be%d0%b0%d0%bf%d1%80%d0%b8%d0%bb%d1%81%d0%ba%d0%b8-%d1%85%d0%b5%d0%bf%d0%b5%d0%bd%d0%b8%d0%bd%d0%b3/"
  link2="https://gjorchepetrov.edu.mk/%d0%bf%d0%be%d1%81%d0%b5%d1%82%d0%b0-%d0%bd%d0%b0-%d1%81%d0%be%d1%84%d0%b8%d1%98%d0%b0-%d0%b2%d0%be-%d1%80%d0%b0%d0%bc%d0%ba%d0%b8%d1%82%d0%b5-%d0%bd%d0%b0-%d0%b5%d1%80%d0%b0%d0%b7%d0%bc%d1%83%d1%81/"
  link3="https://gjorchepetrov.edu.mk/%d0%bc%d0%b8%d1%85%d0%b0%d0%b5%d0%bb%d0%b0-%d0%b0%d0%bb%d0%b5%d0%ba%d1%81%d0%be%d0%b2%d1%81%d0%ba%d0%b0-%d0%b3%d0%be%d1%80%d0%b4%d0%be%d1%81%d1%82-%d0%bd%d0%b0-%d1%83%d1%87%d0%b8%d0%bb%d0%b8%d1%88/"
  link4="https://www.facebook.com/EuropeHouseKrivaPalanka"
  link5="https://gjorchepetrov.edu.mk/%d0%be%d0%bf%d1%88%d1%82%d0%b8%d0%bd%d1%81%d0%ba%d0%b8-%d0%bd%d0%b0%d1%82%d0%bf%d1%80%d0%b5%d0%b2%d0%b0%d1%80-%d0%bf%d0%be-%d0%b0%d0%bd%d0%b3%d0%bb%d0%b8%d1%81%d0%ba%d0%b8-%d1%98%d0%b0%d0%b7%d0%b8/"

  main_link="/en/novosti/one"
  main_link_text="OTHER NEWS AND EVENTS
  "
 main_title="News and Events "

  ></app-news-feed>





