<div class="container">
<header>

  <mat-form-field  color="primary"   appearance="outline">
    <mat-label> Choose Nasoka </mat-label>
    <mat-select  >
      <a routerLink="/mk/nasoki/gimnazisko_obrazovanie"><mat-option> ГИМНАЗИСКО ОБРАЗОВАНИЕ </mat-option></a>
      <a routerLink="/mk/nasoki/elektrotexnicka_struka"><mat-option> ЕЛЕКТРОТЕХНИЧКА СТРУКА </mat-option></a>
      <a routerLink="/mk/nasoki/masinska_struka"><mat-option> МАШИНСКА СТРУКА </mat-option></a>
      <a routerLink="/mk/nasoki/ugostitelska_struka"><mat-option> УГОСТИТЕЛСКА СТРУКА </mat-option></a>






    </mat-select>


  </mat-form-field>

</header>


<router-outlet>


</router-outlet>
</div>
