<app-text

title="Electrical technician for computer technology and automation with a duration of 4 years"
text="Successfully completed programs of this professional profile enable successful integration into the labor market, enabling the candidate to be able to:"

></app-text>


<ul>

  <li>
   Installs, maintains, services electronic devices that make up the computer as a whole, including peripherals that are an integral part of the computer system

  <li>
    Provides tools, equipment and necessary resources for work, works in accordance with technical documentation, performs adjustments and monitors the proper operation of equipment, checks the functionality of computer equipment, analyzes types of defects, eliminates defects, keeps records and monitors data on the state of computer equipment, plans terms for control and servicing of computer equipment, plans and orders spare parts, performs regular inspection of the uninterruptible power supply system and monitors the development of information technologies.
  </li>

  <li>
    Provides tools, equipment and necessary resources for work, works in accordance with technical documentation, performs adjustments and monitors the proper operation of equipment, checks the functionality of computer equipment, analyzes types of defects, eliminates defects, keeps records and monitors data on the state of computer equipment, plans terms for control and servicing of computer equipment, plans and orders spare parts, performs regular inspection of the uninterruptible power supply system and monitors the development of information technologies.
  </li>

  <li>
    Installs and maintains automatic and control devices and systems. Provides tools, equipment and other necessary resources for work. Uses measuring instruments and tools (hardware and software) to determine the correctness of the equipment for automation, signaling, protection and control.
  </li>

  <li>
    Diagnoses, locates and removes obstacles and defects in automated and control systems.
  </li>

  <li>
    Prepares reports on current activities and collects data for preparation of technical documentation. Implements measures for protection and safety at work and respects the protection of the environment.
</ul>
