<div class="container">

  <a routerLink="/mk/upisi/upis_opsta_gimnazija"><button color="warn" mat-raised-button> gimnazisko obrazovanie </button></a>
      <a routerLink="/mk/upisi/upis_elktrotexnicka_struka"><button color="warn" mat-raised-button> elektrotexnicka struka </button></a>
      <a routerLink="/mk/upisi/upis_masinska_struka"><button color="warn" mat-raised-button> masinska struka </button></a>
      <a routerLink="/mk/upisi/upis_ugostitelska_struka"><button color="warn" mat-raised-button> ugostitelska struka </button></a>
      <a routerLink="/mk/upisi/upis_za_vonredni_ucenici"><button color="warn" mat-raised-button> vonredni ucenici </button></a>


</div>
