.container{
  width: 100%;



}
a{

  display: grid;
  text-decoration: none;
  width: 400px;

}
button{
  width: 100%;
  height: 90px;
  margin-top: 20px;
  outline: none;
  position: relative;
  left: 330px;
  text-transform: uppercase;
  color: white;
  border-radius: 20px 50px;


}


button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}
