<app-header></app-header>
<app-nav-bar
page1="ДОМА"
page2="NEWS AND EVENTS"
page3="ABOUT THE HIGH SCHOOL"
page4="DIRECTIONS"
page5="ENROLLMENT"
page6="PROJECTS"
page7="CONTACT"


link1="/en/home"
link2="/en/novosti"
link3="/en/about"
link4="/en/nasoki"
link5="/en/upisi"
link6="/en/proekti"
link7="/en/contackt"



></app-nav-bar>

<router-outlet></router-outlet>


<app-footer
    contact="Contact us:"
    category="Categories"
    map="Open on map"
    location="GJORCE PETROV c.o. Kriva Palanka, Municipal High School"
    loc="st.8-mi Oktomvri no. 91 1330 Kriva Palanka Republic of Northern Macedonia"

    link1="HOME"
    link2="About the High School"
    link3="News"
    link4="Projects"
    link5="Directions"
    link5="Enrollment"





></app-footer>


