$bg:rgb(46, 46, 46);
$color:rgb(255, 255, 255);
$btn-color:rgb(68, 68, 68);
$radius: 5px;

@mixin borders {
  border-top: 2px solid rgba(139, 139, 139, 0.246);
  border-left: 2px solid rgba(139, 139, 139, 0.246);
  border-bottom: 2px solid rgba(139, 139, 139, 0.246);


}

div
{
  background-color: $bg;
  color: $color;
  width: 400px;
  height: 34px;
  display: flex;
  align-items: center;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;


}


input{
  background-color: none;
  border: none;
  width: 90%;
  height: 110%;
  outline: none;
  font-size:1.2rem ;
  @include borders;
  background-color: $bg;
  color: $color;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;



}


input:focus{
  border: 2px solid rgb(0, 170, 255);
}
button{
  width: 60px;
  align-content: center;
  height: 40px;
  background-color: $btn-color ;
  border: 1px solid rgba(128, 128, 128, 0.347);
  border-radius: none;
  color: $color;
  outline: none;
  cursor: pointer;

}
