<html>

<body>

    <div class="gallery">
        <a target="_blank" href="../../../../assets/images/otvorenchas1.jpg">
            <img src="../../../../assets/images/otvorenchas1.jpg" width="600" height="400">
        </a>
        <div class="desc">Отворен час по Македонски јазик и литература</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../../../../assets/images/otvorenchas8.jpg">
            <img src="../../../../assets/images/otvorenchas8.jpg" width="600" height="400">
        </a>
        <div class="desc">Отворен час по Македонски јазик и литература</div>
    </div>


    <div class="gallery">
        <a target="_blank" href="../../../../assets/images/otvorenchas3.jpg">
            <img src="../../../../assets/images/otvorenchas3.jpg" width="600" height="400">
        </a>
        <div class="desc">Отворен час по Македонски јазик и литература</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../../../../assets/images/otvorenchas2.jpg">
            <img src="../../../../assets/images/otvorenchas2.jpg" width="600" height="400">
        </a>
        <div class="desc">Отворен час по Пратична настава Електротехничка струка</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../../../../assets/images/otvorenchas7.jpg">
            <img src="../../../../assets/images/otvorenchas7.jpg" width="600" height="400">
        </a>
        <div class="desc">Отворен час по Пратична настава Електротехничка струка</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../../../../assets/images/otvorenchas.jpg">
            <img src="../../../../assets/images/otvorenchas.jpg" width="600" height="400">
        </a>
        <div class="desc">Отворен час по Пратична настава Електротехничка струка</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../../../../assets/images/otvorenchas4.jpg">
            <img src="../../../../assets/images/otvorenchas4.jpg" width="600" height="400">
        </a>
        <div class="desc">Отворен час по Пратична настава Угостителско - туристичка струка</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../../../../assets/images/otvorenchas5.jpg">
            <img src="../../../../assets/images/otvorenchas5.jpg" width="600" height="400">
        </a>
        <div class="desc">Отворен час по Пратична настава Угостителско - туристичка струка</div>
    </div>


</body>

</html>